.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.listItem {
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.listItemName b, 
.listItemLanguage b {
    margin-right: 8px;
}

.listItemLink {
    display: block;
    margin-top: 8px;
    padding: 8px;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

h2, h3 {
    text-align: center;
}

h2 {
    font-size: 32px;
}